body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.loading {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1045;
}

.loading img {
    width: 4%;
    margin-left: 48%;
    margin-top: 40%;
}
.loading div {
    text-align: center;
    color: #fff;
    margin-top: 5px;
}

input.error {

    border: 1px solid red;
}
label.error {
    color: red;
}