<h3>Lista </h3>

<ul id="lista">
    <li><input type="checkbox"> Item 1 <small>modificato da Tizio il 22/10/2015</small></li>
    <li><input type="checkbox"> Item 2 <small>modificato da Tizio il 22/10/2015</small></li>
    <li><input type="checkbox"> Item 3 <small>smodificato da Tizio il 22/10/2015</small></li>
    <li><input type="checkbox"> Item 4 <small>modificato da Tizio il 22/10/2015</small></li>
</ul>