<button>+New List</button>

<h2>My lists</h2>
<ul id="myLists">
    <li>Lista 1 (4 left)</li>
    <li>Lista 2 (3 left)</li>
    <li class="completed">Lista 3 (0 left)</li>
    <li>Lista 4 (1 left)</li>
</ul>

<h2>Shared with me</h2>
<ul id="sharedWithMe">
    <li>Lista da Lucia (3 left, can add items)</li>
    <li>Lista di Franco (2 left, can modify items state)</li>
    <li>Lista di Marco (1 left, can read)</li>
</ul>